@{
    ViewData["Title"] = "Excel Automation";
}

<br />

<div class="col-9 pt-3 pb-4">
    <h2 class="title-page">Excel Automation</h2>
</div>

<div class="container mt-3">
    <div class="container row p-0 m-0">
        <div class="col-4 mr-3">
            <h4 class="title-page pb-2">Excel Files</h4>
        </div>
        <div class="col-4">
            <h4 class="title-page pb-2">Template File</h4>
        </div>
    </div>
    <div class="container row p-0 m-0">
        <div class="file-input-form form-group col-4 mr-3">
            <label id="custom-label-excel" class="custom-file-label" for="customFile">Choose excel file(s)</label>
            <input id="custom-input-excel" type="file" name="excel" class="custom-file-input form-control" required multiple>
        </div>
        <div class="file-input-form form-group col-4">
            <label id="custom-label-template" class="custom-file-label" for="customFile">Choose template file</label>
            <input id="custom-input-template" type="file" name="template" class="custom-file-input form-control" required>
        </div>
        <div class="form-group col-3">
            <button id="render-button" class="btn btn-page form-control text-white" disabled>Render file(s)</button>
        </div>
    </div>
</div>

<div id="div-table-link" class="col-12 border p-3 pb-3 mb-4 mt-4" hidden>
    <div class="col-4">
        <h4 class="title-page pb-2">Template File</h4>
    </div>
    <table id="table-link" class="table table-striped table-bordered">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>
<div id="render-table-div" class="container row p-0 m-0" hidden>
    <div class="container row p-0 m-0">
        <div class="col-4 mr-3">
        </div>
        <div class="col-4">
            <button class="btn btn-page form-control text-white">Render table</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/inputFiles.js"></script>
    <script src="~/js/Components.js"></script>
    <script src="~/js/render.js"></script>
    <script src="~/js/manageExcelFiles.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
