@{
    ViewData["Title"] = "Excel Automation";
}

<br />

<div class="col-9 pt-3 pb-4">
    <h2 class="title-page">Excel Automation</h2>
</div>

<div class="container mt-3">
    <div class="container row p-0 m-0">
        <div class="col-4 mr-3">
            <h4 class="title-page pb-2">Excel Files</h4>
        </div>
        <div class="col-4">
            <h4 class="title-page pb-2">Template Files</h4>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="container row p-0 m-0">
            <div class="excel-form form-group col-4 mr-3">
                <label class="custom-label-excel custom-file-label" for="customFile">Choose excel file(s)</label>
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" type="file" name="excel" class="custom-input-excel custom-file-input form-control" multiple>
            </div>
            <div class="template-form form-group col-4">
                <label class="custom-label-template custom-file-label" for="customFile">Choose template file(s)</label>
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" type="file" name="template" class="custom-input-template custom-file-input form-control" multiple>
            </div>
            <div class="form-group col-3">
                <button class="btn btn-page form-control text-white">Add file(s)</button>
            </div>
        </div>
    </form>
</div>

<div class="col-12 border p-3 pb-3 mb-4 mt-5">
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Columns</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/filesName.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
